<% content_for :head do %>
  <meta name="viewport" content="width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<% end %>

<h2><%= @stop.name %></h2>
<% @results.each do |result| %>
<div class="result">
  <h3><%= result[:line] %></h3>
  <p><%= result[:from] %> 에서 출발<br><%= "(%d개 전 정류장에서 출발)" % (result[:left] + 1) %></p>
  <p>남은 시간: <%= (result[:time] / 60).to_s + '분' if result[:time] / 60 != 0 %> <%= result[:time] % 60 %>초</p>
</div>
<% end %>
