<% content_for :head do %>
  <meta name="viewport" content="width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<% end %>

<h2>
  from <%= @from %> <br>
  to <%= @to %> <br>
</h2>
<% @routes.each_with_index do |route, index| %>
  <div class="result">
    <h3>Route <%= index + 1 %></h3>
    <p>총 소요 시간 : <big><%= min_and_sec(route.time) %></big></p>
  <% route.subroutes.each do |subroute| %>
    <div class="sub-result">
      <h4><%= image_tag "busstop-small.png", :alt => "지도", :height => "20px" %> <span class="line-name"><%= subroute.line.name %></span></h4>
      <p>from. <%= subroute.from.name %></p>
      <p>to. <%= subroute.to.name %></p>
      <p>대기시간: <big><%= min_and_sec(subroute.waiting) %></big></p>
      <p>이동시간: <big><%= min_and_sec(subroute.moving) %></big></p>
    </div>
  <% end %>
  </div>
<% end %>
