<% content_for :head do %>
  <meta name="viewport" content="width=1200, height=540, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=0.2">
<% end %>

<main id="main">
  <div id="lines-list">
  <% @lines.each do |line| %>
    <div>
      <input class="line-checked" id="line-<%= line[:name] %>" type="checkbox" value="<%= line[:name] %>" checked><label for="line-<%= line[:name] %>"><%= line[:name] %></label>
    </div>
  <% end %>
  </div>
  <div id="map">
    <%= image_tag "map.png", :alt => "서울대학교 지도", :width => "100%" %>
    <div id="stops-wrapper">
    <% @stops.each do |stop| %>
      <button id="stop-<%= stop[:stop_id] %>" class="stops" value="<%= stop[:stop_id] %>" data-stop="<%= stop[:name] %>"></button>
    <% end %>
    </div>
    <div id="stations-wrapper">
      <button id="stop-11" class="stations" value="11" data-stop="신림방면">신림 방면</button>
      <button id="stop-3719" class="stations" value="3719" data-stop="서울대입구역">서울대입구역</button>
      <button id="stop-10422" class="stations" value="10422" data-stop="낙성대역">낙성대역</button>
      <button id="stop-10" class="stations" value="10" data-stop="사당방면">사당 방면</button>
    </div>
    <div id="buses-wrapper"> </div>
  </div>
  <div id="stop-controller" class="hide">
    <div id="selected-stop">
      <label>선택된 정류장</label>
      <input id="selected-stop-id" class="hide" readonly>
      <span id="selected-stop-name"></span>
    </div>
    <button id="show-stop-info">정류장 정보 보기</button>
    <button id="set-departure">출발 정류장으로 지정</button>
    <button id="set-destination">도착 정류장으로 지정</button>
  </div>

  <div>
  </div>
</main>
<footer>
  <form id="show-last-routes" action="/LastRoutes" method="get">
    <button type="submit">최근 검색</button>
  </form>
  <form id="show-routes" action="/routes" method="get">
    <label for="departure">출발</label><input name="departure-name" disabled><input name="departure" class="hide" readonly>
    <label for="destination">도착</label><input name="destination-name" disabled><input name="destination" class="hide" readonly>
    <button id="search">검색</button>
  </form>
</footer>
